extends layout

block content
    nav.sticky-top.shadow
            ol.breadcrumb
                li.breadcrumb-item 
                    a(href="/user") homepage
                li.breadcrumb-item.active change password
    form(method="POST")
        .form-group
            label(for='uid') this is you:
            input.form-control#uid(name="uid", required, disabled, value=uid)
        .form-group
            label(for='old-pw') old password
            input.form-control#old-pw(type="password", name="oldPassword", required)
        .form-group
            label(for='new-pw') new password
            input.form-control#new-pw(type="password", name="newPassword", minlength=8, maxlength=32)
        .form-group
            label(for='new-pw1') repeat your new password
            input.form-control#new-pw1(type="password", name="newPassword1", minlength=8, maxlength=32)
        button.w-100.btn.btn-primary Change password
    if (error)
        .mt-4.alert.alert-danger= error
    if (info)
        .mt-4.alert.alert-info= info